name: Cron test

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "CRON TEST"
          echo "Event: $GITHUB_EVENT_NAME"
          date
