name: Generate wallpaper

on:
  schedule:
    - cron: "0 9 * * *"
    - cron: "0 12 * * 1"   # понедельник, пинг
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate wallpaper
        run: python generate.py

      - name: Commit result
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          echo "Generated at $(TZ=Europe/Moscow date '+%d-%m-%Y %H:%M:%S MSK')" > output/.timestamp


          git add output/wallpaper.png output/.timestamp
          git commit -m "Update wallpaper (Generated at $(TZ=Europe/Moscow date '+%Y-%m-%d %H:%M:%S MSK'))"

          git push
